h1{
            color:purple;
        }
        body{
        	background-color:#ecd9c7;
        }
        h2{
            color:#28143d;
        
        }
        h3{
            color:#28143d;
        }
        h4{
            color:#28143d;
        }